@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Gig" asp-action="Index">GIGS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="" asp-action="">Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="project" asp-action="Add">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Allocate" asp-action="viewmyAllocatedProject">Works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="client" asp-action="Add">Create a profile</a>
            </li>
        </ul>
    </div>
</nav>
<h1 style="font-family:georgia,garamond,serif;">Find the perfect freelance services for your business</h1>
<img src="https://thumbs.dreamstime.com/b/graphic-designer-desk-line-style-illustration-thin-flat-design-workplace-creative-office-room-interior-desktop-computer-58689418.jpg" />
