@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section>
  <div class="d-flex justify-content-between align-items-center mb-5">
    <div class="d-flex flex-row align-items-center">
      <h4 class="text-uppercase mt-1">Eligible</h4>
      <span class="ms-2 me-3">Pay</span>
    </div>
    <a href="#!">Cancel and return to the website</a>
  </div>

  <div class="row">
    <div class="col-md-7 col-lg-7 col-xl-6 mb-4 mb-md-0">
      <h5 class="mb-0 text-success">₹ 17000.00</h5>
      <h5 class="mb-3">Project Payment</h5>
      <div>
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row mt-1">
            <h6>Client Payment</h6>
            <h6 class="fw-bold text-success ms-1">₹ 17000</h6>
          </div>
          <div class="d-flex flex-row align-items-center text-primary">
            <span class="ms-1"></span>
          </div>
        </div>
        <p>
          Pay your client the amount within few minutes
        </p>
        <hr />
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex flex-row mt-1">
            <h6>Commission</h6>
            <h6 class="fw-bold text-success ms-1">₹ 2000</h6>
          </div>
          <div class="d-flex flex-row align-items-center text-primary">
            <span class="ms-1"></span>
          </div>
        </div>
        <p>
          Help us to grow!
        </p>
        <div class="d-flex flex-column mb-3">
          <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" />
            <label class="btn btn-outline-primary btn-lg" for="option1">
              <div class="d-flex justify-content-between">
                <span>VISA </span>
                <span></span>
              </div>
            </label>

            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" checked />
            <label class="btn btn-outline-primary btn-lg" for="option2">
              
            </label>
          </div>
        </div>
        <div class="btn btn-success btn-lg btn-block">Proceed to payment</div>
      </div>
    </div>
    <div class="col-md-5 col-lg-4 col-xl-4 offset-lg-1 offset-xl-2">
      <div class="p-3" style="background-color: #eee;">
        <span class="fw-bold">Order Recap</span>
        <div class="d-flex justify-content-between mt-2">
          <span>contracted Price</span> <span>₹ 17000.00</span>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <span>Amount Deductible</span> <span>₹ 0.0</span>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <span>Commission</span> <span>+ ₹ 2000</span>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <span>Copayment </span> <span>+ ₹ 0.00</span>
        </div>
        <hr />
        <div class="d-flex justify-content-between mt-2">
          <span class="lh-sm">Total Deductible,<br />
            Coinsurance and copay
          </span>
          <span>$0.00</span>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <span class="lh-sm">Maximum out-of-pocket <br />
            on insurance policy</span>
          <span>$0.00</span>
        </div>
        <hr />
        <div class="d-flex justify-content-between mt-2">
          <span>Insurance Responsibility </span> <span>₹00.00</span>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <span>Patient Balance </span> <span>₹00.00</span>
        </div>
        <hr />
        <div class="d-flex justify-content-between mt-2">
          <span>Total </span> <span class="text-success">₹19000.00</span>
        </div>
      </div>
    </div>
  </div>
</section>