@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="gradient-custom">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-md-7 col-lg-5 col-xl-4">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <form>
              <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="form-outline">
                  <input
                    type="text"
                    id="typeText"
                    class="form-control form-control-lg"
                    siez="17"
                    placeholder="1234 5678 9012 3457"
                    minlength="19"
                    maxlength="19"
                  />
                  <label class="form-label" for="typeText">Card Number</label>
                </div>
               
              </div>

              <div class="d-flex justify-content-between align-items-center mb-4">
                <div class="form-outline">
                  <input
                    type="text"
                    id="typeName"
                    class="form-control form-control-lg"
                    siez="17"
                    placeholder="Cardholder's Name"
                  />
                  <label class="form-label" for="typeName">Cardholder's Name</label>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center pb-2">
                <div class="form-outline">
                  <input
                    type="text"
                    id="typeExp"
                    class="form-control form-control-lg"
                    placeholder="MM/YYYY"
                    size="7"
                    id="exp"
                    minlength="7"
                    maxlength="7"
                  />
                  <label class="form-label" for="typeExp">Expiration</label>
                </div>
                <div class="form-outline">
                  <input
                    type="password"
                    id="typeText"
                    class="form-control form-control-lg"
                    placeholder="&#9679;&#9679;&#9679;"
                    size="1"
                    minlength="3"
                    maxlength="3"
                  />
                  <label class="form-label" for="typeText">Cvv</label>
                </div>
                <br />
               <button type="button" class="btn btn-warning">Pay</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>