@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="gradient-custom">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-md-7 col-lg-5 col-xl-4">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
              <h5>You are paying to @ViewBag.email </h5>
              <p></p>
            <form>
              <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="form-outline">
                  <input
                    type="text"
                    id="typeText"
                    class="form-control form-control-lg"
                    siez="17"
                    placeholder="$ 100"
                    minlength="19"
                    maxlength="19"
                  />
                  <label class="form-label" for="typeText">Enter the amount</label>
                </div>
               
              </div>

              <div class="d-flex justify-content-between align-items-center mb-4">
                <div class="form-outline">
                  <input
                    type="text"
                    id="typeName"
                    class="form-control form-control-lg"
                    siez="17"
                    placeholder="Enter your name"
                  />
                  <label class="form-label" for="typeName">Enter your name</label>
                </div>
              </div>

              <div class="d-flex justify-content-between align-items-center pb-2">
               
                
                <br />
              </div>
            </form>
                        <<form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_KYk5GcKdGZ9VRa" async> </script> </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>