@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Freelanco</strong></h1>
    <p>Earn while you learn</p>
    <div class="row justify-content-evenly">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Freelancer</h5>
                <p class="card-text">Are you a freelancer looking for projects</p>
                <a href="#" class="btn btn-primary">Freelancer</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"> Client </h5>
                <p class="card-text">Are you a client looking for freelancers</p>
                <a href="#" class="btn btn-primary">Client</a>
            </div>
        </div>
    </div>
</div>
