@model List<studentFreelance.Models.Gig>
@{
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h1>Gigs</h1>

 @foreach (var item in Model)
        {
    <div class="card">
        <div class="card-header">
            @item.title
        </div>
        <div class="card-body">
            <h5 class="card-title">Description: @item.desc</h5>
            <p class="card-text">Budget     :@item.amount</p>
            <a class="btn btn-info" asp-area="" asp-controller="Chat" asp-action="Index">Chat</a>
        </div>
    </div>
    <br />
        }

